# Byte-compiled / optimized / DLL files
.DS_Store

# Tendermint data and config
tendermint_data
__pycache__

# Logs
output.log

# Datasets
data/**

# Experiment runs and results
tst/**
**/results/**
.ipynb_checkpoints/