# Data processing
numpy
matplotlib

# Deep Learning
torch
torchvision

tensorflow
# tf-keras
# tensorboard

# Flower
flwr
flwr[simulation]
flwr-datasets[vision]

# RPC
grpcio
grpcio-tools
protobuf

# General
tqdm
